body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
  }

  .form {
    flex: 1;
    padding: 20px;
  }

  .form h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"],
  .form input[type="tel"],
  .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .image {
    flex: 1;
    background: url('image/register.png') center/cover;
  }