*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0C0F2D;
}
.main-container{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: end;
    padding: 2em;
}
.track-nav{
    background-color: #DE1E6E;
    padding: 1em 4em;
    border: 2px solid #fff;
    position: relative;
    transform: skew(-20deg);
    font-weight: 900;
    font-size: 2rem;
}

.secondary-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5em;
}
.secondary-container h1{
    font-size: 3rem;
}
button{
    padding: 1.1em 5em;
    border: none;
    border-radius: 4rem;
    font-weight: 700;
    color: black;
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}
.about-container button{
    background-color: #fff;
}
.image-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.image-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px dotted #fff;
}
.image-container button{
    background-color: #DE1E6E;
}
.project-container{
    margin-right: 10em;
}
.handles-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.handles-container a{
    color: #fff;
    font-size: 2rem;
}